@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Moderat';
    src: url('../../public/fonts/Moderat-Regular.woff') format('woff'),
      url('../../public/fonts/Moderat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
  } */
  body {
    @apply font-ibm-plex-sans scrollbar-thin;
  }
}

@layer components {
  /* .sidebarIcon {
        @apply h-6 text-[#808080] cursor-pointer;
    } */
  .iconBtn {
    @apply justify-end self-center p-2 border-et-info-100/40 border-[2px] rounded-lg
          text-et-info-100 hover:bg-et-light-100 duration-200 hover:text-gray-200
          hover:border-et-light-100 disabled:bg-et-dark-100 disabled:text-et-light-100
          disabled:border-et-dark-100;
  }
}
